html, body {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;

}

#loader{
      border: 16px solid #fdffb6;
      border-radius: 50%;
      border-top: 16px solid #457b9d;
      width: 20em;
      height: 20em;
      animation: loader1 1.5s linear infinite;
      margin: 5em;
      
    }
    
    #loader2{
      border: 16px solid #caffbf;
      border-radius: 50%;
      border-top: 16px solid #3d405b;
      width: 17em;
      height: 17em;
      animation: loader2 3s linear infinite;
      margin: 0.75em;
      
    }
    @keyframes loader1{
      0%{transform:rotate(0deg;)}
      100%{transform:rotate(360deg);}
    }
    @keyframes loader2{
      0% {transform:rotate(360deg);}
      100%{transform:rotate(0deg);}
    }
    .animate-bottom {
      position: relative;
      -webkit-animation-name: animateBottom;
      -webkit-animation-duration: 1s;
      animation-name: animateBottom;
      animation-duration: 1s
    }
    
    @keyframes animateBottom { 
      from{ bottom:-100px; opacity:0 } 
      to{ bottom:0; opacity:1 }
    }
    
    #whenDone {
      display: none;
      text-align: center;
    }

.content {
      width: 100%;
      height: 100vh;
      background-color: #fff;
      padding: 40px 0 40px 0;
}

.hero-back {
      width: 100%;
      height: calc(100vh);
      background: url('img.jpg') no-repeat 50% 50%;
      background-size: cover;
      position: relative;
}

h1 {
      font-family: Poppins;
      color: #fff;
}

p {
      font-family: Poppins;
      line-height: 30px;
      color: #fff;
      font-weight: lighter;
}

.hero-back img {
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
}

