*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: black;
}

.head{
  width: 70%;
  margin: auto;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.heading{
  font-weight: 200;
  font-size: 50px;
  color: aqua;
}

.options{
  height: 80vh;
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.back1,.back2{
  background-color: blueviolet;
  border-radius: 20px;
  width: 15vw;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.back1 a{
  text-decoration: none;
  color: aliceblue;
}

.back2 a{
  text-decoration: none;
  color: aliceblue;
}